.container {
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(103, 103, 168);
    margin: 20px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(99, 146, 99);
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: rgb(180, 146, 67);
}